<div class="list-container">
  <div class="list-type1">
    <ol>
      <h1><%= @list.name %></h1>

      <% @list.items.each do |item| %>
        <li>
          <form action="/items/<%= item.id %>/delete" method="post">
            <%= item.description %>

            <input type="hidden" name="_method" value="DELETE">
            <input class="button" type="submit" value="X">
          </form>
        </li>
      <% end %>

      <br>
    </ol>
  </div>

  <form action="/lists/<%= @list.id %>" method="post">
    <input type="text" name="description">
    <input class="button" type="submit" name="submit" value="Add Item">
  </form>

  <br>

  <form action="/lists/<%= @list.id %>/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input class="button" type="submit" value="Delete List">

    <a href="/lists/<%= @list.id %>/edit"><button class="button" type="button" name="edit">Edit</button></a>
  </form>
</div>
