<h3><%= @list.name %></h3>

<div>
  <ul>
    <% @list.items.each do |item| %>
      <li>
        <form action="/lists/<%= @list.id %>/delete_item" method="post">
          <%= item.description %>

          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete Item">
        </form>
      </li>
    <% end %>
  </ul>
</div>

<h4>Add Item</h4>

<form action="/lists/<%= @list.id %>" method="post">
  <input type="text" name="description">
  <input type="submit" name="submit" value="Add Item">
</form>

<br>

<form action="/lists/<%= @list.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete List">

  <button type="button" name="edit"><a href="/lists/<%= @list.id %>/edit"> Edit List </a></button>
</form>
