<h3><%= @list.name %></h3>

<div>
  <ul>
    <% @list.tasks.each do |task| %>
      <li><%= task.description %></li>
    <% end %>
  </ul>
</div>

<h4>Create Task</h4>

<form action="/lists/<%= @list.id %>" method="post">
  <input type="text" name="description">
  <input type="submit" name="submit" value="Create Task">
</form>

<br>

<form action="/lists/<%= @list.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete List">

  <button type="button" name="edit"><a href="/lists/<%= @list.id %>/edit"> Edit List </a></button>
</form>
