<h3>Monday</h3>
<% @todos.each do |todo| %>
  <% if todo.day == "Monday" %>
    <a href="/todos/<%= todo.id %>"><li><%= todo.description %></li></a>
  <% end %>
<% end %>

<h3>Tuesday</h3>
<% @todos.each do |todo| %>
  <% if todo.day == "Tuesday" %>
    <a href="/todos/<%= todo.id %>"><li><%= todo.description %></li></a>
  <% end %>
<% end %>

<h3>Wednesday</h3>
<% @todos.each do |todo| %>
  <% if todo.day == "Wednesday" %>
    <a href="/todos/<%= todo.id %>"><li><%= todo.description %></li></a>
  <% end %>
<% end %>

<h3>Thursday</h3>
<% @todos.each do |todo| %>
  <% if todo.day == "Thursday" %>
    <a href="/todos/<%= todo.id %>"><li><%= todo.description %></li></a>
  <% end %>
<% end %>

<h3>Friday</h3>
<% @todos.each do |todo| %>
  <% if todo.day == "Friday" %>
    <a href="/todos/<%= todo.id %>"><li><%= todo.description %></li></a>
  <% end %>
<% end %>

<h3>Saturday</h3>
<% @todos.each do |todo| %>
  <% if todo.day == "Saturday" %>
    <a href="/todos/<%= todo.id %>"><li><%= todo.description %></li></a>
  <% end %>
<% end %>

<h3>Sunday</h3>
<% @todos.each do |todo| %>
  <% if todo.day == "Sunday" %>
    <a href="/todos/<%= todo.id %>"><li><%= todo.description %></li></a>
  <% end %>
<% end %>
