<!DOCTYPE html>
<html>
  <head>
    <title>List Maker</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/styles.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= url('/users.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= url('/lists.css') %>" />
  </head>
  <body>

    <header>
      <h1>ListMaker</h1>
      <nav>
        <% if logged_in? %>
          <button type="submit" name="submit"><a href="/lists">My Lists</a></button>
          <button type="submit" name="submit"><a href="/logout">Log Out</a></button>
        <% else %>
          <form action="/login" method="post">
            <label>Username: </label>
            <input type="text" name="username">

            <label>Password:</label>
            <input type="password" name="password">

            <input type="submit" value="Log In">
          </form>
          <!-- <button type="submit" name="submit"><a href="/login">Log In</a></button>
          <button type="submit" name="submit"><a href="/signup">Sign Up</a></button> -->
        <% end %>
      </nav>

      <br>
    </header>

    <% flash.keys.each do |type| %>
      <div data-alert class="flash-alert">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
