<!DOCTYPE html>
<html>
  <head>
    <title>List Maker</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/styles.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= url('/users.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= url('/lists.css') %>" />
  </head>
  <body>

    <header>
      <h1>ListMaker</h1>
      <nav>
        <% if logged_in? %>
          <button type="button"><a href="/lists">My Lists</a></button>
          <button type="button"><a href="/logout">Log Out</a></button>
        <% else %>
          <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Log In">
          </form>
        <% end %>
      </nav>

      <br>
    </header>

    <div class="flash-box">
      <% flash.keys.each do |type| %>
        <div data-alert class="flash-alert">
          <%= flash[type] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
