<!DOCTYPE html>
<html>
  <head>
    <title>List Maker</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/styles.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= url('/users.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= url('/lists.css') %>" />
  </head>
  <body>

    <header>
      <h1>ListMaker</h1>
      <nav>
        <% if logged_in? %>
          <button type="submit" name="submit"><a href="/lists">My Lists</a></button>
          <button type="submit" name="submit"><a href="/lists/new">Create New List</a></button>
          <button type="submit" name="submit"><a href="/logout">Log Out</a></button>
        <% else %>
          <button type="submit" name="submit"><a href="/login">Log In</a></button>
          <button type="submit" name="submit"><a href="/signup">Sign Up</a></button>
        <% end %>
      </nav>

      <br>

      <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    </header>

    <%= yield %>

  </body>
</html>
